{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block title %}
    My Wishlists
{% endblock %}

{% block content %}
    <script>
            async function fetchJson(){
                let url = "{{ url_for('get_list_by_user_id', uid=user_id) }}"
                $.getJSON(url, function(result){
                    for(i = 0; i< result.length; i++){
                        $(".wishlist").append("<h2 class=\"jumbotron\">" + result[i].list_name + "</h2>"
                        +"<form action=\"\" method=\"post\"><input type=\"hidden\" name=\"list_id\" value=\"" + result[i].list_id
                        + "\"><input type=\"submit\" class='btn btn-success' value=\"View List\"></form>")
                    }
                })
            }
            fetchJson();
    </script>
    <div class="wishlist"></div>
{% endblock %}