{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    {#	<style>#}
    {#		body { background: #ffffff; }#}
    {#	</style>#}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet" type="text/css"/>
    <title> Wishlist Homepage</title>
{% endblock %}

{% block content %}
    <body id="homebg">
    <div class="card" id="footbg" >
        {#           <div class="card-body">#}
        <div class="container" class="card-body" id="white">
            <div class="row pb-5">
                <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                    <br><br>
                    <h1 class="center" class="pt-5 pb-2"><span
                            id="wow">Group D Wishlist {{ current_user.username }} </span></h1>
                    <hr>
                    <h2 class="center" class="pt-3 pb-2" id="color">Current user_id: {{ id }}</h2>
                    <br><br>
                    <h2 class="center" class="pt-3 pb-2" id="color">API Examples:<br>
                        <ul>
                            <li><a href="{{ url_for('getUsers') }}">All Users</a></li>
                            <li><a href="{{ url_for('get_user_by_id', id=9) }}">Get User By ID</a></li>
                            <li><a href="{{ url_for('getItems') }}">All Items</a></li>
                            <li><a href="{{ url_for('getLists') }}">All Lists</a></li>
                            <li><a href="{{ url_for('get_list_by_user_id', uid=9) }}">Get Lists By User ID</a></li>
                        </ul>

                    </h2>

                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}